* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variaveis */
:root {
  /* Colors  */
  --black-color: #000;
  --white-color: #fff;
  --base-color: #0007e0;
  --base-second-color: #0c8af7;

  /* Font */
  --body-font: 'Public Sans', sans-serif;
  --subtitle-font-size: 1rem;
  --title-font-size: 4rem;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--base-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

.header .logo {
  color: var(--white-color);
  font-family: var(--body-font);
}

nav div .navbar-nav a {
  font: 400 1rem var(--body-font);
  color: var(--white-color);
}

/* Animação de botão do header */

.btn-contact {
  font: 400 1rem var(--body-font);
  padding: 0.75rem;
  text-decoration: none;
  border-radius: 0.5rem;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid var(--white-color);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.btn-contact:hover {
  color: var(--black-color);
  background-color: transparent;
}
.btn-contact:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
.btn-contact:before {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 0rem;
  z-index: -1;
  content: '';
  color: var(--black-color);
  background: var(--white-color);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

nav div .nav-link {
  position: relative;
  margin: 0 0.5rem;
}

nav div .nav-link:hover {
  color: var(--white-color);
}

nav div .nav-link:after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: var(--white-color);
  left: 0%;
  transition: 0.5s;
  position: absolute;
  bottom: 0rem;
}

nav div .nav-link:hover:after {
  width: 100%;
  color: var(--white-color);
}

/* Seção Inicio */

#home {
  background: url(images/fundoheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home .container {
  padding: 6rem 2rem;
}

/* configuração do h1 */
#home .title {
  font: 700 var(--title-font-size) var(--body-font);
  line-height: 60px;
  letter-spacing: -2px;
  margin-bottom: 2rem;
  margin-top: 50px;
  color: var(--white-color);
}

#home .subtitle {
  font: 400 var(--subtitle-font-size) var(--body-font);
  opacity: 0.8;
  color: var(--white-color);
  text-align: justify;
}

.btn-home {
  background-color: var(--base-color);
  color: var(--white-color);
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.btn-home:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  transition: 0.5s;
}

/* section about */
#about {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    275deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(205, 205, 205, 1) 100%
  );
}

#about .container {
  padding: 6rem 2rem;
  margin-bottom: 4.5rem;
}

.col {
  display: flex;
}

.img-about {
  margin: auto;
}

#about .title,
#services .title {
  font: 700 var(--title-font-size) var(--body-font);
  letter-spacing: -2px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 2rem;
}

.section-2 .container {
  padding: 6rem 2rem;
}

#about .subtitle {
  font: 400 var(--subtitle-font-size) var(--body-font);
  text-align: justify;
  color: var(--black-color);
}

.section-2 .title {
  font: 700 var(--title-font-size) var(--body-font);
  letter-spacing: -2px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 2rem;
}

.section-2 .subtitle {
  font: 400 var(--subtitle-font-size) var(--body-font);
  text-align: justify;
  color: var(--black-color);
}

.section-2 .col {
  display: flex;
}

.section-2 .img-about {
  margin: auto;
}

/************ Section services *********************/

#services {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(205, 205, 205, 1) 100%
  );
}
#services .container {
  padding: 6rem 2rem;
}

#services .title {
  margin-bottom: 4rem;
}
#services .card {
  border-radius: 0.5rem;
  font: 400 var(--subtitle-font-size) var(--body-font);
  text-align: justify;
  border: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

#services .card .card-title {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  header {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  }

  /* header nav div .show {
  } */

  header .btn-menu {
    background-color: var(--white-color);
    color: var(--black-color);
  }
}
